$color-bg-common: #F8F8F8;
$color-bg-post: #fff;
$color-text-h: #333;
$color-post-text: #645353;
$color-post-tag: #FF7C26;


// $color-text-a: #868686;

// $color-text-common: #676363;
// $color-bg-common: #ebeae5;
//
// $color-theme: #fa6b69;
