// 데스크탑
@media (min-width: 992px) {
	.navbar-custom{
		height: 50px;
	}
	.post {
		height: 340px;
	}

}

// 태블릿
@media (min-width: 768px) {

}

// 모바일
@media (max-width: 991px) {
	.tag-container {
		display: none !important;
	}
}
