.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.btn {
  box-sizing: border-box;
  border: 2px solid #676363;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 5px 17px;
}

.btn-theme {
  border-color: #fa6b69;
  color: #fa6b69;
}

.btn-theme:hover {
  background-color: #fa6b69;
  color: #fff;
}

h1, h2, h3, h4 {
  color: #645353;
}
